html,
body {
  height: 100%; /* Make sure the full height of the page is used */
  margin: 0; /* Remove the default margin */
  padding: 0; /* Remove the default padding */

  overflow: hidden; /* Prevent scrollbars from appearing */
  justify-content: center;
  align-items: center;
}

body {
  position: relative; /* Set the reference for the absolute positioning of the background image */
  font-family: "Helvetica", "Arial", sans-serif; /* Optional: Set a default font for your page */
  background-color: #ffffff; /* Optional: Set a default background color */
}

.site-header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: linear-gradient(
    to right,
    #7f7fd5,
    #86a8e7,
    #91eae4
  ); /* Gradient arka plan */
  padding: 20px 0;
  z-index: 1000;
}

.navigation-menu {
  display: flex;
  justify-content: center; /* Menü öğelerini merkeze al */
  padding: 10px 0; /* Üst ve alt dolgu boşluğu ver */
  margin: 0; /* Varsayılan kenar boşluğunu sıfırla */
  list-style: none; /* Liste stilini kaldır */
}

.nav-item {
  margin: 0 15px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}

.nav-item a:hover {
  color: #ffd700; /* Altın rengi hover efekti */
}

.content {
  text-align: center;
  padding: 50px 20px; /* İçerik için daha fazla boşluk */
  margin-top: 50px;
  min-height: calc(100% - 60px);
  color: #666261;
}

.content h1 {
  color: #333;
  font-size: 2.5em; /* Başlık için büyük yazı */
}

.content p {
  color: #666;
  font-size: 1.1em; /* Paragraf için okunabilir yazı */
}

.site-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute; /* Footer'ı sayfanın altında sabitle */
  bottom: 0;
  width: 100%;
}

.background-image,
.background-image2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.background-image3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.login-container {
  background: linear-gradient(
    to right,
    #7f7fd5,
    #86a8e7,
    #91eae4
  ); /* Slightly transparent white background */
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 400px; /* Max width for the login container */
  border-radius: 5px;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: -4px;
}

.form-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-submit {
  padding: 10px 15px;
  background-color: #5cb85c;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-submit:hover {
  background-color: #4cae4c;
}

.signup-prompt {
  text-align: center;
  margin-top: 15px;
}

.signup-link {
  color: #337ab7;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Tam ekran yüksekliği kullanılır */
  margin: 0; /* Varsayılan kenar boşluğunu kaldır */
  background: url("images/egg.jpg") no-repeat center center fixed;
  background-size: cover;
  /* İhtiyacınıza göre diğer stilleri buraya ekleyin */
}

/*Tasks table*/
/* General table styling */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Zebra striping for rows */
.task-row:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Styling for different task properties */

/* Styling for the task image */
.task-image-preview {
  width: 50px;
  height: auto;
  border-radius: 4px;
}

/* Styling for action links */
.task-edit,
.task-delete,
.add-tasks {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 4px;
  display: inline-block;
}

.task-edit {
  background-color: #4caf50; /* Green */
}

.task-delete {
  background-color: #f44336; /* Red */
}

.add-tasks {
  background-color: blue;
}

.task-edit:hover,
.task-delete:hover {
  opacity: 0.8;
}
